{% extends 'base.html' %}
<title>{% block title %}Realizar pago{% endblock %}</title>
{% block content %}

<link href="/static/css/signup.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center vh-100">
  <div
    class="bg-white p-4 rounded-5 text-secondary shadow-lg"
    style="width: 100%; max-width: 500px"
  >
    <div class="text-center fs-1 fw-bold mb-4">Crear Nuevo Pago</div>

    <!-- Mostrar errores si existen -->
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <!-- Formulario de pago -->
    <form method="post" class="card-body">
      {% csrf_token %}

      <!-- Campo Monto -->
      <div class="mb-3">
        <label for="monto_pagado" class="form-label">Monto:</label>
        <input
          type="number"
          name="monto_pagado"
          id="monto_pagado"
          class="form-control"
          value="{{ pago.monto_pagado|stringformat:'.2f' }}"
          step="0.01"
          min="0"
          placeholder="Ingrese el monto"
          required
          inputmode="decimal"
          pattern="[0-9]+([.,][0-9]{1,2})?"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '');"
        />
      </div>

      <!-- Campo Fecha -->
      <div class="mb-3">
        <label for="fecha_programada" class="form-label">Fecha:</label>
        <input
          type="date"
          name="fecha_programada"
          id="fecha_programada"
          class="form-control"
          value="{{ pago.fecha_pago|date:'Y-m-d' }}"
          required
        />
      </div>

      <!-- Campo Método de Pago -->
      <div class="mb-3">
        <label for="metodo_pago" class="form-label">Método de pago:</label>
        <select
          name="metodo_pago"
          id="metodo_pago"
          class="form-control"
          required
        >
          <option value="" disabled selected>Seleccione un método</option>
          <option value="EFECTIVO">Efectivo</option>
          <option value="TARJETA">Tarjeta de crédito/débito</option>
          <option value="TRANSFERENCIA">Transferencia bancaria</option>
          <option value="CHEQUE">Cheque</option>
          <option value="OTRO">Otro método</option>
        </select>
      </div>
      <!-- Comentarios -->
      <div class="form-group mb-3">
        <label for="comentarios">Comentarios </label>
        <textarea
          class="form-control"
          id="comentarios"
          name="comentarios"
          rows="4"
        ></textarea>
      </div>

      <!-- Botones de acción -->
      <div class="d-flex gap-2">
        <a
          href="{% url 'detalle_pago' prestamo.pk %}"
          class="btn btn-secondary text-white w-100 mt-3 fw-semibold shadow-sm"
        >
          Cancelar
        </a>
        <button
          type="submit"
          class="btn btn-primary text-white w-100 mt-3 fw-semibold shadow-sm"
        >
          Guardar Pago
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
