{% extends 'base.html' %}
<title>{% block title %}Prestamos{% endblock %}</title>
{% block content %}

<link href="/static/css/usuarios.css" rel="stylesheet" />

<!-- Begin Page Content -->
<div class="container-fluid">
  <div class="panel-heading">
    <div class="row">
      <div class="col col-sm-3 col-xs-12">
        <h4 class="title">Lista <span>de préstamos</span></h4>
      </div>
     {% if user.is_staff %}
      <div class="col-sm-9 col-xs-12 text-right">
        <div class="btn_group">
          <a
            href="{% url 'createPrestamo' %}"
            class="btn btn-sm btn-primary pull-left"
          >
            <i class="fa fa-plus-circle"></i> Nuevo préstamo
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Monto</th>
            <th>Tasa de Interés</th>
            <th>Tipo</th>
            <th>Total de Pagos</th>
            <th>Estado</th>
            {% if user.is_staff %}
            <th>Acciones</th>
            {% endif %}
            <th>Detalle</th>
          </tr>
        </thead>
        <tbody>
          {% for prestamo in prestamos %}
          <tr>
            
    {% if prestamo.es_grupal %}
        <td>{{ prestamo.grupo.responsable.nombre }}</td>
    {% else %}
        <td>{{ prestamo.cliente.nombre }}</td>
    {% endif %}
            <td>
              {% if prestamo.monto %} 
              ${{ prestamo.monto|floatformat:2 }} 
              {%else%} 
              $0.00 {% endif %}
            </td>
            <td>{{ prestamo.tasa_interes|floatformat:2 }}%</td>
            <td>{{ prestamo.tipo }}</td>
            <td>{{ prestamo.total_pagos }}</td>

            <td>
              <span
                class="badge {% if prestamo.estado == 'APROBADO' %}bg-success {% elif prestamo.estado == 'RECHAZADO' %}bg-danger {% else %}bg-warning{% endif %}"
              >
                {{ prestamo.get_estado_display }}
              </span>
            </td>
            {% if user.is_staff %}
            <td>
              
              <ul class="action-list">
                <li>
                  <a
                    href="{% url 'editar_prestamo' pk=prestamo.id %}"
                    class="btn btn-sm btn-warning"
                  >
                    <i class="fa fa-edit"></i> Editar
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="btn btn-sm btn-danger"
                    onclick="eliminarRegistro({{prestamo.id}})"
                  >
                    <i class="fa fa-trash"></i> Eliminar
                  </a>
                </li>
              </ul>
              
            </td>
            {% endif %}
            <td>
              <ul class="action-list">
                <li>
                  <a
                    href="{% url 'detalle_prestamo' pk=prestamo.id %}"
                    class="btn btn-sm btn-info"
                    data-tip="edit"
                  >
                    <i class="fa fa-info-circle"></i> Detalle
                  </a>
                </li>
              </ul>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6" class="text-center">
              No hay préstamos registrados
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function eliminarRegistro(id) {
    Swal.fire({
      title: "¿Estás seguro?",
      text: "¡No podrás deshacer esta acción!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sí, eliminar",
      cancelButtonText: "Cancelar",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = `/Prestamos/eliminar/${id}/`;
      }
    });
  }
</script>

{% endblock %}
