{% extends 'base.html' %}
{% load custom_filters %}
<title>
  {% block title %}
    Informacion operacional
  {% endblock %}
</title>

{% block content %}
  <h1 class="h3 mb-4 text-gray-800">Principal</h1>

  <!-- Begin Page Content -->
  <div class="container-fluid">
    {% if mensaje %}
      <div class="alert alert-info" role="alert">{{ mensaje }}</div>
    {% else %}
      {% for cobrador, total in totales_cobradores.items %}
        <!-- Nueva fila para cada cobrador -->
        <div class="row mb-4">
          <!-- Tarjeta de Cobrador -->
          <div class="col-xl-4 col-md-4 mb-4">
            <a href="{% url 'detalles_cobrador' cobrador %}?tipo=pagos" class="text-decoration-none">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cobrador: {{ cobrador }}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">${{ total|floatformat:2 }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- Tarjeta de Gastos -->
          <div class="col-xl-4 col-md-4 mb-4">
            <a href="{% url 'detalles_cobrador' cobrador %}?tipo=gastos" class="text-decoration-none">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gastos</div>
                      <!-- Total de gastos -->
                      <div class="h5 mb-0 font-weight-bold text-gray-800">${{ totales_gastos|get_item:cobrador|default:0|stringformat:'.2f' }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- Tarjeta de Prestamos Diarios -->
          <div class="col-xl-4 col-md-4 mb-4">
            <a href="{% url 'detalles_cobrador' cobrador %}?tipo=prestamos" class="text-decoration-none">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Préstamos Pendientes de Hoy</div>
                      <!-- Número de préstamos pendientes hoy -->
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ prestamos_diarios|get_item:cobrador|default:'0' }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-money-check-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> <!-- Cierre de la fila para el cobrador -->
      {% endfor %}
    {% endif %}
  </div>

  <script>
    // Función para mostrar la tabla correspondiente al botón seleccionado
    function mostrarTabla(tipo) {
      // Ocultar todas las tablas
      document.getElementById('tabla_hoy').style.display = 'none'
      document.getElementById('tabla_semana').style.display = 'none'
      document.getElementById('tabla_mes').style.display = 'none'
      document.getElementById('tabla_total').style.display = 'none'
    
      // Mostrar la tabla seleccionada
      document.getElementById('tabla_' + tipo).style.display = 'block'
    }
  </script>
{% endblock %}
