{% extends 'base.html' %} {% block content %}

<title>{% block title %}Usuarios{% endblock %}</title>

<!-- Custom styles for this template-->
<link href="/static/css/usuarios.css" rel="stylesheet" />
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-sm-3 col-xs-12">
              <h4 class="title">Lista <span>de usuarios</span></h4>
            </div>
            <div class="col-sm-9 col-xs-12 text-right">
              <div class="btn_group">
                <a
                  href="{% url 'signup' %}"
                  class="btn btn-sm btn-primary pull-left"
                  ><i class="fa fa-plus-circle"></i> Nuevo usuario</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre de usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Direccion</th>
                <th>Accion</th>
              </tr>
            </thead>
            <tbody>
              {% for usuario in usuarios %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                <td>{{ usuario.email }}</td>
                <td>
                  <ul class="action-list">
                    <li>
                      <a
                        href="{% url 'editarUsuarios' usuario.id %}"
                        data-tip="edit"
                      >
                        <i class="fa fa-edit"></i>
                      </a>
                      Editar
                    </li>
                    <li>
                      <a
                        href="#"
                        data-tip="delete"
                        onclick="eliminarRegistro({{usuario.id}})"
                        ><i class="fa fa-trash"></i
                      ></a>
                      Eliminar
                    </li>
                  </ul>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Eliminar usuarios-->
<script>
  function eliminarRegistro(id) {
    Swal.fire({
      title: "¿Estás seguro?",
      text: "¡No podrás deshacer esta acción!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sí, eliminar",
      cancelButtonText: "Cancelar",
    }).then(function (result) {
      if (result.isConfirmed) {
        window.location.href = "/Usuarios/eliminaUsuarios/" + id + "/";
      }
    });
  }
</script>
{% endblock %}
